.features-tiles-item-header {
    display: flex;
    justify-content: center;
}

.features-tiles-item-header .mb-16 {
    // height: 100%;
    // max-height: 300px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.features-tiles-item-header img {
    max-height: 100%;
}

.features-tiles-item-content h4 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.mission-vision {
    justify-content: space-between !important;
    .split-item-content {
        width: 45% !important;
    }

    @media (max-width: 768px) {
        flex-direction: column !important;
        .split-item-content {
            width: 100% !important;
        }
    }
}

.three-features {
    justify-content: space-between !important;
    .split-item-content {
        width: 30% !important;
    }
    p {
        margin-bottom: 0;
    }

    @media (max-width: 1000px) {
        flex-direction: column !important;
        .split-item-content {
            width: 100% !important;
        }
    }
}
