/* this is directly injected into the page */

/* colors */

/* black/dark-grey = #1b1e22 */
/* light-text-grey = #292f36 *
/* light-background-grey = #f4f5f6 */

/* base colors */
/* blue = #00a6ed */

body {
    font-family: "Outfit", sans-serif !important;
    color: #1b1e22;
    font-size: 1.1em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
td,
th,
tr,
label,
form .checkbox-container label,
input,
button,
textarea,
select,
option,
form,
footer,
header,
nav,
section {
    font-family: "Outfit", sans-serif !important;
    color: #1b1e22;
    font-weight: 400;
}

#root {
    height: 100vh;
}

/* login */
.linkedin-text {
    color: #fff;
}
.linkedin-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-bottom: 8px;
    padding-left: 15px;
}

/* */
/* general */
/* */

/* ALL BUTTONS */
.enabled-book-button,
.linkedin-login-button,
#new_person button,
#main_log_in_button,
.message-form-submit-wrapper button,
a.message-button-link {
    box-shadow: 0 4px 14px 0 rgb(0 0 0 / 15%);
    background-color: #00a6ed;
    transition: all 200ms ease;
    color: #fff;
    font-weight: 600;
    text-align: center;
    border-radius: 7px;

    padding: 0 1.5em;
    line-height: 1.15;
    padding-top: 0.5625em;
    padding-bottom: 0.5625em;
}

.enabled-book-button:hover,
.linkedin-login-button:hover,
#new_person button:hover,
#main_log_in_button:hover,
.message-form-submit-wrapper button:hover,
a.message-button-link:hover {
    transform: scale(1.05);
}

.linkedin-login-button {
    text-align: left;
}
.linkedin-login-button:hover {
    background-color: #0077b5;
}
/* ALL BUTTONS END*/

.home-toolbar {
    border: none;
}

.AddNewListingButton {
    box-shadow: 0 4px 14px 0 rgb(0 0 0 / 15%);
    transition: all 200ms ease;
    color: #fff;
    font-weight: 600;
    text-align: center;
    border-radius: 7px;
}

.AddNewListingButton:hover {
    transform: scale(1.05);
}

.AddNewListingButton_background {
    border-radius: 0px;
}

.AddNewListingButton_desktop {
    font-size: 18px;
}

.wrapper {
    max-width: 1440px;
}

/* change font size for ipad */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        font-size: 0.75rem;
    }
}

/* details tab list fix in search */
.home-list-details-with-image {
    display: flex;
}

/* show the underline for both */
#privacy_link,
#terms_link {
    text-decoration: underline;
}

/* general pages*/
/* helper css */
.display-none {
    display: none !important;
}

/* notifications */
.ajax-notice,
.ajax-warning,
.flash-notice,
.flash-warning,
.ajax-update-notice {
    background: #79d1c3;
    color: #fff;
}

/* this is for the about pages */
.left-navi {
    display: none;
}
.left-navi-section.about-section {
    width: 100%;
    margin-left: 0;
}

.button.search-button {
    color: #fff;
}

/*  */
/* navigationbar */
/*  */

.MenuPriority a,
.jitsi-button,
.menu__label {
    font-size: 18px !important;
    transition: all 200ms ease;
    color: #1b1e22;
}

.MenuPriority a:hover,
.jitsi-button:hover,
.menu__label:hover {
    opacity: 0.5;
}

.MenuPriority > div {
    width: 100% !important;
}

/* remove the all entries/alle einträge in the sub-header in search */
#home_toolbar-select-share-type {
    display: none;
}

.home-categories-main:first-of-type {
    display: none;
}

.Avatar:hover {
    cursor: pointer;
}
.Menu:hover {
    cursor: pointer;
}

/* remove the button on mobile, because it is visible in the menu */
a[class^="Topbar__topbarListingButton"] .AddNewListingButton_mobile {
    display: none;
}

/*  */
/* Listings */
/*  */

/* top right toolbar */
.home-toolbar-button-group-button {
    background: #f4f5f6;
}

/* grid */
.fluid-thumbnail-grid-image-image {
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.home-fluid-thumbnail-grid-author {
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    height: 54px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 20px;
    background: #f4f5f6;
}

.fluid-thumbnail-grid-image-price-container {
    top: 8px;
    right: 10px;
    padding: 4px 10px;
    border-radius: 7px;
    background-color: #1b1e22;
    color: #fff;
}

/* inside listings */
.listing-author-name {
    height: auto;
    line-height: 1em;
}

.listing-author-name-link {
    overflow: visible;
    white-space: normal;
}

.marketplace-lander .title-header-wrapper {
    max-width: 1440px;
    background-color: #f4f5f6;
    border-radius: 28px;
    margin-top: 10px;
    padding-left: 20px;
}

.title-container {
    background-color: #fff;
}

/* change the width of the content in listings */
@media only screen and (min-width: 768px) and (max-width: 1350px) {
    .row.checkbox-group {
        width: 145%;
    }
}

@media only screen and (min-width: 1350px) {
    .row.checkbox-group {
        width: 166%;
    }
}

.row.checkbox-group {
    margin-top: 0.75em;
    margin-bottom: 1.5em;
}

.checkbox-option.selected {
    margin-bottom: 0.25em;
}

/* top buttons */
.message-selection {
    display: flex;
    flex-wrap: wrap;
}

.message-selection-column {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.message-selection-column a {
    margin: 5px;
}

/* bottom wrapper for videochat start  */

.message-form-submit-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* --------- */
/* transaction buttons  */
/* -------- */

.transaction-button {
    flex: 1;
    display: flex;
    align-items: flex-start;
}

.transaction-explainer {
    flex: 5;
    margin-left: 15px;
}

.transaction-explainer h5 {
    margin-top: 0;
}

.transaction-button-wrapper {
    display: flex;
    margin-bottom: 25px;
}

a.transaction-button-link {
    color: #fff;
    background-color: #79d1c3;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
}

a.transaction-button-link:nth-of-type(2) {
    margin-left: 15px;
}

/* profile */
.profile-link {
    text-decoration: underline !important;
}

.profile-link:hover {
    cursor: pointer;
}

/* --------- */
/* Modal  */
/* -------- */

.custom-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(255, 255, 255); /* Fallback color */
    background-color: rgba(255, 255, 255, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.custom-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    position: relative;
}

.custom-modal-inner-wrapper {
    display: flex;
    margin-bottom: 25px;
    flex-direction: column;
}

.custom-modal-inner-wrapper p {
    display: flex;
}

.custom-modal-inner-wrapper svg {
    /* margin-bottom: 0; */
    margin-right: 15px;
}

/* The Close Button */
.custom-modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.custom-modal-close:hover,
.custom-modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* for the search information modal */
.search-information-button {
    top: 10px;
    position: relative;
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #00a6ed;
    color: #fff !important;

    box-shadow: 0 4px 14px 0 rgb(0 0 0 / 15%);
    transition: all 200ms ease;
    color: #fff;
    font-weight: 600;
    text-align: center;
    border-radius: 7px;
    font-size: 18px !important;
}

.search-information-button:hover {
    transform: scale(1.05) !important;
}

/* notifications */
#email_about_new_payments,
label[for="email_about_new_payments"] {
    display: none !important;
}
#email_about_testimonial_reminders,
label[for="email_about_testimonial_reminders"] {
    display: none !important;
}
#email_about_new_received_testimonials,
label[for="email_about_new_received_testimonials"] {
    display: none !important;
}
#email_about_new_comments_to_own_listing,
label[for="email_about_new_comments_to_own_listing"] {
    display: none !important;
}
#email_when_conversation_accepted,
label[for="email_when_conversation_accepted"] {
    display: none !important;
}
#email_when_conversation_rejected,
label[for="email_when_conversation_rejected"] {
    display: none !important;
}
#email_about_confirm_reminders,
label[for="email_about_confirm_reminders"] {
    display: none !important;
}
#email_about_completed_transactions,
label[for="email_about_completed_transactions"] {
    display: none !important;
}

/* --------- */
/* rating  */
/* -------- */

.comment {
    padding-left: 1.5em !important;
}
.comment .avatar {
    display: none;
}

.testimonial-message {
    display: none;
}

.rating-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
}

.rating-question {
    margin-bottom: 5;
}

.rating-scale {
    display: flex;
}

.rating-scale button {
    background-color: #fff;
    border: none;

    width: 32px;
    height: 32px;

    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    background-image: url(https://sajadghawami.github.io/hirewood-homepage/public/assets/images/rating/star_empty.png);
}

.rating-scale button.selected {
    background-image: url(https://sajadghawami.github.io/hirewood-homepage/public/assets/images/rating/star_filled.png);
}

/* dont display at first paint */
.comment h3 a {
    display: none;
}

/* settings */
/* remove the description */
.left-navi-section.settings-section p:first-of-type {
    display: none;
}

/* */
/* footer */
/* */

.footer__content {
    max-width: 1440px;
    padding: 0px;
}

.footer__links-container {
    max-width: 100%;
    color: #fff;
    background: #1b1e22;
    padding: 112px 84px;
    border-radius: 28px;
}

.footer__link {
    color: #fff !important;
    opacity: 0.5;
    transition: opacity 200ms ease;
}

.footer__link:hover {
    opacity: 1;
}

.footer__social-media-link > svg {
    fill: #fff !important;
}

.footer__logo-image {
    max-width: 300px;
}

.footer__separator {
    display: none;
}
